/* General */
* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
body {
    color: #333;
    overflow: hidden;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
    transition: .2s;
}
a:hover {
    color: mediumslateblue;
}
ul {
    list-style: none;
    padding: 0;
}

/* Layouts */
.container {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

/* Header */
.header {
    height: 80px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    position: relative;
    z-index: 9999;
}
.header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navbar */
.nav-menu {
    display: flex;
    align-items: center;
}
.nav-item {
    margin-left: 2rem;
}

/* Main */
.main {
    width: 100vw;
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: repeat(2, 100vw);
    transition: .5s;
}
.route-editor, .view-mode {
    width: 100%;
    height: 100%;
}
.on-view {
    transform: translateX(-100%);
}

/* Route Editor */
.route-editor {
    background: #eee;
}
.route-editor #app {
    width: 100%;
    height: 100%;
}

/* Element */
.element {
    overflow: visible;
}
.moving {
    cursor: grabbing;
}

/* Circle */
.circle {
    width: 100%;
    height: 100%;
    background: #FFF;
    border: 2px solid #333;
    border-radius: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transform: rotate(45deg) scale(1);
    animation: zoomIn .2s;
}
@keyframes zoomIn {
    from {
        transform: rotate(45deg) scale(0);
    }
}

/* Section */
.section {
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: background-color .2s;
    user-select: none;
}
.section-1 {
    border-top-left-radius: 100%;
}
.section-2 {
    border-top-right-radius: 100%;
}
.section-3 {
    border-bottom-right-radius: 100%;
}
.section-4 {
    border-bottom-left-radius: 100%;
}
.section span {
    transform: rotate(-45deg);
}

.element:not(.moving):hover .section {
    opacity: 1;
}
.element:not(.moving):hover .section.active {
    opacity: 0.5;
}
.section:not(.active):hover {
    background-color: mediumslateblue;
    color: #FFF;
}

/* Line */


/* Button Actions */
.btn-edit {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%);
    transition: .2s;
}
.btn-delete {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
}
.element:not(.moving):hover .btn-edit {
    transform: translate(-100%, -50%);
}
.element:not(.moving):hover .btn-delete {
    transform: translate(100%, -50%);
}

/* Popup */
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: 99;
    transition: .2s;
    pointer-events: none;
}
.popup.active {
    opacity: 1;
    pointer-events: unset;
}
.popup-box {
    position: fixed;
    left: 50%;
    top: 0;
    width: 600px;
    padding: 2rem;
    transform: translate(-50%, -100%);
    background: #FFF;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    transition: .5s;
}
.popup.active .popup-box {
    top: 50%;
    transform: translate(-50%, -50%);
}
.popup input, .popup textarea {
    width: 100%;
    padding: 0.5rem;
}
.popup input {
    margin-bottom: 1rem;
}
.popup-content {
    margin-bottom: 1rem;
}
.popup .btn-primary {
    margin-right: 0.5rem;
}

/* View Mode */
.view-mode {
    display: grid;
    grid-template-rows: 1fr auto;
    position: relative;
}
.view-screen {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.view-display {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
}
.view-links {
    display: flex;
}
.view-links button {
    width: 100%;
    height: 100%;
    margin: 1rem;
}
button {
    padding: 0.5rem;
}
.view-fullscreen {
    position: absolute;
    right: 1rem;
    padding: 1rem;
    bottom: 80px;
}

.leave-down {
    animation: leaveDown .5s forwards;
}
@keyframes leaveDown {
    to {
        transform: translateY(100%);
    }
}

.enter-down {
    animation: enterDown .5s forwards;
}
@keyframes enterDown {
    from {
        transform: translateY(-100%);
    }
}

.leave-right {
    animation: leaveRight .5s forwards;
}
@keyframes leaveRight {
    to {
        transform: translateX(100%);
    }
}

.enter-right {
    animation: enterRight .5s forwards;
}
@keyframes enterRight {
    from {
        transform: translateX(-100%);
    }
}

.leave-up {
    animation: leaveUp .5s forwards;
}
@keyframes leaveUp {
    to {
        transform: translateY(-100%);
    }
}

.enter-up {
    animation: enterUp .5s forwards;
}
@keyframes enterUp {
    from {
        transform: translateY(100%);
    }
}

.leave-left {
    animation: leaveLeft .5s forwards;
    color: mediumturquoise;
}
@keyframes leaveLeft {
    to {
        transform: translateX(-100%);
    }
}

.enter-left {
    animation: enterLeft .5s forwards;
}
@keyframes enterLeft {
    from {
        transform: translateX(100%);
    }
}